@import url("../../variables.scss");

.container-footer {
  width: calc(100% - 5rem);
  margin-left: 5rem;
  height: auto;
  z-index: 1;
  transition: all .5s ease;
  background: red;
  padding: 1rem 1.5rem 0 1.5rem;
  bottom: 0;
}

.footer{
  background-color: var(--color-background);
}

.footer-trimed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}

.footer-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}
