<div class="about-us">
  <shape-divider></shape-divider>
  <h1 class="display-1 fw-bold">About us</h1>

  <div class="card w-75 p-3 shadow p-3 mb-5 bg-body rounded container mx-auto">

    <h1 class="display-6 fw-bold text-center">Vision</h1>

    <p class="card-text fs-5">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci expedita facere harum inventore placeat quas sit ut velit vero. Adipisci aspernatur autem dolor, dolore laborum maiores odio quas sequi tempora. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, similique, temporibus. Ad atque cumque debitis dicta dolor expedita ipsa ipsam magnam nisi numquam optio, repudiandae sed soluta temporibus veritatis voluptate!</p>
  </div>

  <div class="card w-75 p-3 shadow p-3 mb-5 bg-body rounded container mx-auto">

    <h1 class="display-6 fw-bold text-center">Mision</h1>

    <p class="card-text fs-5">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci expedita facere harum inventore placeat quas sit ut velit vero. Adipisci aspernatur autem dolor, dolore laborum maiores odio quas sequi tempora. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, similique, temporibus. Ad atque cumque debitis dicta dolor expedita ipsa ipsam magnam nisi numquam optio, repudiandae sed soluta temporibus veritatis voluptate!</p>
  </div>

  <div class="creators d-flex justify-content-center">
      <p class="display-4 fw-bold mt-4">Creators</p>
  </div>

  <div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <img src="https://sm.ign.com/t/ign_latam/screenshot/default/gohan-gohan_mr15.1200.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Gohan</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/855/public/media/image/2020/09/dragon-ball-son-goku-2063605.jpg?itok=oFoI_VPB" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Goku</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcEbFy8DKYvd5zrI8ik47DQpAcOd1E8-yz3w&usqp=CAU" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vegeta</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="https://media.vandalsports.com/master/11-2020/20201110102444_1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Freezer</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
