<div class="about-us">
  <shape-divider></shape-divider>
  <h1 class="display-1 fw-bold">About us</h1>

  <div class="card p-3 shadow p-3 mb-5 bg-body rounded mx-auto">

    <h1 class="display-6 fw-bold text-center">Vision</h1>

    <p class="card-text fs-5">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci expedita facere harum inventore placeat quas sit ut velit vero. Adipisci aspernatur autem dolor, dolore laborum maiores odio quas sequi tempora. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, similique, temporibus. Ad atque cumque debitis dicta dolor expedita ipsa ipsam magnam nisi numquam optio, repudiandae sed soluta temporibus veritatis voluptate!</p>
  </div>

  <div class="card p-3 shadow p-3 mb-5 bg-body rounded mx-auto">

    <h1 class="display-6 fw-bold text-center">Mision</h1>

    <p class="card-text fs-5">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci expedita facere harum inventore placeat quas sit ut velit vero. Adipisci aspernatur autem dolor, dolore laborum maiores odio quas sequi tempora. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, similique, temporibus. Ad atque cumque debitis dicta dolor expedita ipsa ipsam magnam nisi numquam optio, repudiandae sed soluta temporibus veritatis voluptate!</p>
  </div>

  <div class="creators d-flex justify-content-center">
      <p class="display-4 fw-bold mt-4">Creators</p>
  </div>

  <div class="creators d-flex justify-content-center">
    <div class="creators-content">
      <div class="card me-4" style="width: 18rem;">
        <img src="./assets/media/photos/hi.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Diego Morales</h5>
          <p class="card-text">Full stack developer, salsa and cats fan.</p>
          <a target="_blank" href="https://www.linkedin.com/in/diegomoralescats/" class="link-info">LinkedIn</a>
        </div>
      </div>

      <div class="card me-4" style="width: 18rem;">
        <img src="./assets/media/photos/sebastian-londono-cossio.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sebastian Londoño</h5>
          <p class="card-text">Full stack developer, Dragon Ball enjoyer.</p>
          <a target="_blank" href="https://www.linkedin.com/in/juan-sebastian-londono-cossio-9444781b7/" class="link-info">LinkedIn</a>
        </div>
      </div>

      <div class="card me-4" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcEbFy8DKYvd5zrI8ik47DQpAcOd1E8-yz3w&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Johan</h5>
          <p class="card-text">Full stack developer, backend and cat fan.</p>
          <a target="_blank" href="https://www.linkedin.com/in/johan-carrillo/" class="link-info">LinkedIn</a>
        </div>
      </div>

  </div>

  <div class="creators d-flex justify-content-center">

  </div>
</div>
