@import "src/app/styles/variables";

.card-title {
  color: darken($color-primary, 10%);
}

.display-1 {
  color: white;
}

.custom-shape-divider-top-1668203388 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-1668203388 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 242px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1668203388 .shape-fill {
  fill: $color-primary;
}
