<div class="container">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title title">Pet Walker</h5>
      <div class="container">
        <p class="col">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur dolor dolorum eum eveniet, magnam magni maxime necessitatibus nihil nobis non perferendis reprehenderit sed similique sunt tempore unde veritatis vero?
        </p>
        <div class="col">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda at, consequatur doloremque ea itaque maxime odit perspiciatis quia soluta. Aliquid, dolorum facere fugiat maxime minima molestiae placeat quidem tempore?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title title">Pet DayCare</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem culpa, cupiditate debitis deleniti, dignissimos dolorem doloremque dolores ducimus eum id ipsam laboriosam numquam perferendis quos repellendus repudiandae sed sit!
      </p>
    </div>
  </div>
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title title">Pet Grooming</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem culpa, cupiditate debitis deleniti, dignissimos dolorem doloremque dolores ducimus eum id ipsam laboriosam numquam perferendis quos repellendus repudiandae sed sit!
      </p>
    </div>
  </div>
</div>

<div class="d-flex flex-column mb-3">
  <div class="p-2">Flex item 1</div>
  <div class="p-2">Flex item 2</div>
  <div class="p-2">Flex item 3</div>
</div>
