
<shape-divider></shape-divider>

<h1 class="display-1 fw-bold">Our Services</h1>

<div *ngFor="let card of cards" class="card mb-5 shadow p-3 mb-5 bg-body rounded" style="max-width: 100%">
  <div class="row g-0">
    <div class="company-img col-md-4">
      <img [src]="card.img" class="img-fluid rounded-start" [alt]="card.alt">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title fs-1 fw-bold">{{card.title}}</h5>
        <p class="card-text fs-5">{{card.description}}</p>
      </div>
    </div>
  </div>
</div>
