<section class="header_home">
  <img
    src="https://images.unsplash.com/photo-1597603413826-cd1c06b05222?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
    alt="Pets" class="img-header"/>
  <h1>Pet Care becomes your furry friend's home</h1>

</section>
<hr class="mt-5">
<hr class="mb-5"/>

<section class="description-hero">
  <p>Pet Care offers the opportunity to put an end to the long hours our furry friends are waiting
    for us at home while we return. Our employees are happy to take care of your friend when you have to leave
    for work, vacation or somewhere else.
    <br>
    <br>
    Our big bet is that you become a member of Pet Care and through trust, we can create a positive impact on
    you, because your furry friend is in the best hands, with the best care and the best food.
    <br>
    <br>
    In PET DAYCARE you will find:</p>
</section>

<hr class="mt-5">
<hr class="mb-5"/>

<section class="maincontainer">

  <div class="thecard">

    <div class="thefront">
      <p>At home it is very difficult to get the haircut as expected, but at the grooming salon it will look great.</p>
      <img src="./assets/media/logo.svg" alt="logo" class="logo-services">
    </div>


    <div class="theback">
      <img src="./assets/media/imgCat.svg" alt="Pet" class="img-cards">
    </div>
  </div>

  <div class="thecard">

    <div class="thefront">
      <p>The products used in dog grooming salons are specific to make the coat shinier and softer.</p>
      <img src="./assets/media/logo.svg" alt="logo" class="logo-services">
    </div>


    <div class="theback">
      <img src="./assets/media/imWalker.svg" alt="Pet" class="img-cards">
    </div>
  </div>

  <div class="thecard">

    <div class="thefront">
      <p>Finally, don't forget that in the grooming salon your pet will be like in a spa.
        The professionals are used to do this job.</p>
      <img src="./assets/media/logo.svg" alt="logo" class="logo-services">
    </div>


    <div class="theback">
      <img src="./assets/media/imgDog.svg" alt="Pet" class="img-cards">
    </div>
  </div>

</section>

<hr class="mt-5 none">
<hr class="mb-5 none"/>

<section class="form-contain">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="./assets/media/imgPez.svg"
             class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

        <form>
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Buy service</p>
          </div>


          <div class="form-outline mb-4">
            <input type="text" id="pet" class="form-control form-control-lg"
                   placeholder="Name of Pet" />
            <label class="form-label" for="pet">Pet</label>
          </div>


          <div class="form-outline mb-3">
            <input type="number" id="hours" class="form-control form-control-lg"
                   placeholder="Hours" />
            <label class="form-label" for="hours">Number of hours</label>
          </div>
          <button class="botn-submit" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>


</section>
