<section class="header_home">
  <img
    src="https://images.unsplash.com/photo-1450778869180-41d0601e046e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=986&q=80"
    alt="Pets" class="img-header"/>
  <h1>Pet Care becomes your furry friend's home</h1>

</section>
<hr class="mt-5">
<hr class="mb-5"/>

<section class="description-hero">
  <p>Pet Care offers the opportunity to put an end to the long hours our furry friends are waiting
    for us at home while we return. Our employees are happy to take care of your friend when you have to leave
    for work, vacation or somewhere else.
    <br>
    <br>
    Our big bet is that you become a member of Pet Care and through trust, we can create a positive impact on
    you, because your furry friend is in the best hands, with the best care and the best food.
    <br>
    <br>
    In PET DAYCARE you will find:</p>
</section>

<hr class="mt-5">
<hr class="mb-5"/>

<section class="maincontainer">

  <div class="thecard">

    <div class="thefront">
      <p>The pets are under supervision and will be well cared for according to the specifications you give
        to the caretakers..</p>
      <img src="./assets/media/logo.svg" alt="logo" class="logo-services">
    </div>


    <div class="theback">
      <img src="./assets/media/imgCat.svg" alt="Pet" class="img-cards">
    </div>
  </div>

  <div class="thecard">

    <div class="thefront">
      <p>Your health is also important, so you will receive your daily dose of exercise corresponding
        to your age and size.</p>
      <img src="./assets/media/logo.svg" alt="logo" class="logo-services">
    </div>


    <div class="theback">
      <img src="./assets/media/imWalker.svg" alt="Pet" class="img-cards">
    </div>
  </div>

  <div class="thecard">

    <div class="thefront">
      <p>Your pet will not be bored, because the environmental enrichment is included,
        there will spend phenomenal days.</p>
      <img src="./assets/media/logo.svg" alt="logo" class="logo-services">
    </div>


    <div class="theback">
      <img src="./assets/media/imgDog.svg" alt="Pet" class="img-cards">
    </div>
  </div>

</section>

<hr class="mt-5 none">
<hr class="mb-5 none"/>

<section class="w-100 mx-auto">
    <h1 class="display-1 row">¡Solicita tu servicio aquí!</h1>
    <button routerLink="/buyService" class="row h-50 mx-auto btn btn-success">Pedir un servicio</button>
</section>
