@import "src/app/styles/variables";

/* header */

.header_home {
  weight: 100%;
  height: 70vh;
  display: flex;
  border-radius: $borderR;
  background-attachment: fixed;
  background-color: pink;
  position: relative;
  justify-content:center;

  .img-header {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: $borderR;
    filter: brightness(0.7);
  }

  h1{
    text-align: center;
    font-weight: $heavier;
    color: $color;
    text-transform: uppercase;
    letter-spacing: .07em;
    position:absolute;
    align-self: center;
    text-shadow:1px 1px 3px rgb(0 0 0 / 35%);
  }

}

.logo-header {
  position: absolute;
  width: 140px;
  height: 140px;
  align-self: center;
  z-index: 1;
  margin: 0 0 0 32px;
}
