<section class="header_home">
  <img src="https://images.unsplash.com/photo-1612774412771-005ed8e861d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
       alt="Pets" class="img-header"/>
  <h1>Sebastian</h1>

</section>

<p>Pet Care ofrece la oportunidad de terminar con las largas horas en que nuestros
  amigos peludos nos esperando en el hogar mientras volvemos. Nuestros colaboradores estan felices
  de cuidar a tu amigo cúando tengas que salir a trabajar, de vacaciones o algún lugar.
  Nuestra gran apuesta es que seas mienbro de Pet Care y a través de la confianza, podamos crear
  un impacto positivo en tí, porque tu amigo peludo esta en las mejores manos, con el mejor
  y cuidado y la mejor alimentación.

  El Servicio de Pet DAYCARE es una gran opción para: </p>
  <img src="../../assets/media/logo1.svg" alt="logo" class="logo-header">
