<div class="container">
  <div class="myCard">
    <div class="row">
      <div class="col-md-6">
        <div class="myLeftCtn">

          <form class="myForm text-center">
            <header class="title-form fw-bold"><a (click)="goToHome()">Bienvenido</a></header>

            <p class="mb-5">Puedres registrarte o ingresar con Google</p>

            <button (click)="ingresar()" type="button" class="btn-google"><img width="20px" style="margin-bottom:3px; margin-right:5px"
                                            alt="Google sign-in"
                                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>Sign
              in with Google
            </button>

          </form>
        </div>
      </div>


      <!-- 2do form-->

      <div class="col-md-6">
        <div class="myRightCtn">
          <!--  <button class="butt_out" (click)="goToHome()">Go to home</button> -->
          </div>
        </div>

      </div>
    </div>
  </div>
