<h1>FORMULARIO DE INGRESAR A LA APP</h1>
<div class="card">
  <div class="card-head"> SIGN IN </div>
  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, laudantium velit labore accusamus modi dolore, numquam aperiam eveniet facilis, maiores alias possimus molestias impedit tempore inventore tenetur libero odit enim?
  </div>
</div>
<div class="input-group mb-3">
  <span class="input-group-text">@</span>
  <div class="form-floating">
    <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username">
    <label for="floatingInputGroup1">Username</label>
  </div>
</div>
