@import "src/app/styles/variables";


/* header */

.header_home {
  width: 100%;
  height: 50vh;
  display: flex;
  border-radius: $borderR;
  background-attachment: fixed;
  position: relative;


  .img-header {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: $borderR;
    filter: brightness(0.8);
  }

  .logo-header {
    position: absolute;
    width: 140px;
    height: 140px;
    align-self: center;
    z-index: 1;
    margin: 0 0 0 32px;
  }
}


/* Description Hero */

.description {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  min-width: 20vh;
  margin: 2rem 0;

  h1 {
    text-align: center;
    font-weight: $heavier;
    color: $color-h1;
    text-transform: uppercase;
    letter-spacing: .05em;
  }

  p {
    margin: 8px 0;
    text-align: center;
    font-size: 18px;
    color: $color-text;
  }

  button {
    margin: 16px 0 8px 0;
    align-self: center;
    padding: 10px 30px;
    border-radius: $borderR;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: $regular;
    background-color: $color-secondary;
    color: $color;
    cursor: pointer;

    &:hover {
      background-color: #52D814;
    }
  }
}


/* Hero Cards */

.cards-services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  background-color: $color-primary;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: $borderR;

  .cart {
    position: relative;
    width: 280px;
    //height:190px;
    height: 350px;
    background-color: $color;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s all ease-in-out;

    &:hover {
      height: 400px;
    }

    &:hover .imgBx {
      width: 160px;
      height: 160px;
    }

    .imgBx {
      position: absolute;
      left: 50%;
      top: -50px;
      transform: translateX(-50%);
      width: 150px;
      height: 150px;
      background-color: $color;
      border-radius: 20px;
      box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
      overflow: hidden;
      transition: 0.5s all ease-in-out;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

  }

  .cart .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
  }

  .cart .content .details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s all ease-in-out;
    transform: translateY(170px);
  }

  .cart:hover .content .details {
    transform: translateY(0px);
  }

  .cart .content .details h2 {
    font-size: 1.25em;
    font-weight: $emphasis;
    color: $color-text;
    line-height: 1.2em;
  }

  .cart .content .details h2 span {
    font-size: 0.75em;
    font-weight: $medium;
    opacity: 0.5;
  }

  .cart .content .details .data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  .cart .content .details .data h3 {
    font-size: 1em;
    color: $color-text;
    line-height: 1.2em;
    font-weight: $emphasis;
  }

  .cart .content .details .actionsBtn {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .cart .content .details .actionsBtn button {
    padding: 10px 30px;
    border-radius: $borderR;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: $regular;
    background-color: $color-secondary;
    color: $color;
    cursor: pointer;

    &:hover {
      background-color: #52D814;
    }
  }

  .cart .content .details .actionsBtn button:nth-child(2) {
    border: 1px solid #999;
    color: #999;
    background-color: $color;
  }
}


/* grid */
.tittle-grid{
  text-align: center;
  font-weight: $bold;
  color: $color-h2;
  margin-bottom:32px;
  text-transform: uppercase;
  letter-spacing: .05em;
}

/* blogs and favorite pet in the month */

.section-blog{
  display: flex;
  width: 100%;
  min-height: 66vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  background-color: $color-primary;
  align-items:center;
  border-radius: $borderR;

  .blog{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color: $color;
    width: 40%;
    height: 55vh;
    border-radius: $borderR;
    overflow: hidden;

    h3{
      color: $color-h2;
      font-weight:$bold;
      letter-spacing: .05em;
      text-transform: uppercase;
      text-align: center;
      margin:0 0 8px 0;
      padding-top: 8px;
    }

    h4{
      color: #999;
      font-weight:$heavy;
      align-self:flex-end;
      padding-right: 32px;
      margin: 4px;
      padding-bottom:8px;
    }

    p{
      color:$color-text;
      text-align: justify;
      padding:16px;
    }
    p span{
      color: $color-secondary;
      font-size:2em;
    }
  }

  .favoritePet{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 50%;
    height: 55vh;
    flex-direction: column;

    .card__head{
      display: flex;
      width: 90%;
      min-height: 20vh;
      justify-content:space-around;
      align-items:center;
      margin-bottom: 16px;
    }

    .container-imgPet{
      border-radius: 50%;
      width: 140px;
      height: 140px;
      background-image: url("https://scontent.feoh3-1.fna.fbcdn.net/v/t31.18172-8/18403879_803077486515863_3565784522151187141_o.jpg?_nc_cat=106&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeH2Zc5upn-0LP5zF5mVoStkd4eibN2kxdR3h6Js3aTF1MIqFI96XH4kWWxVrSNsKu_M9y61cuyDOjgOrNx3Yo7H&_nc_ohc=76ATHdmf3c0AX8Jit-a&_nc_ht=scontent.feoh3-1.fna&oh=00_AfBO6yv_MN8LATPdsyTX2M9mo7Pb3_fHJwWUhUtwtjkSmQ&oe=6398C119");
      background-size:contain;
      background-position: center;
    }

    .card__head__text{
      color: $color-h2;
      font-weight:$bold;
      letter-spacing: .07em;
      order: -3;
      text-transform:uppercase;
      font-size:3em;
    }

    .card__body{
      color:$color-text;
      text-align: center;
      padding:28px;
    }
  }

}


/* blogs and favorite pet in the month */

.contac-home{
  display:flex;
  width:100%;
  min-height: 80vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  border-radius: $borderR;
  position:relative;

  .img-svg{
    width:40%;
    height:80vh;
    position:relative;


    .imgSVG{
      width:100%;
      height: 500px;
      object-fit: contain;
    }


  }

  .carrusel-Bt{
    width: 40%;
    height: 60vh;
    border-radius: $borderR;
    margin:auto 0;
    order: -2;
    display:flex;
    flex-direction: column;
    align-items:center;
  }

  .btn-contact{
    margin-top:12px;
    padding: 10px 30px;
    border-radius: $borderR;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: $regular;
    background-color: $color-secondary;
    color: $color;
    cursor: pointer;

    &:hover {
      background-color: #52D814;
    }
  }
}

.contIMG{
  width:100%;
  height: 60vh;
  border-radius: $borderR;
}
.slideIMG{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  object-position: center;
  border-radius: $borderR;
}



/* responsive */

@media only screen and (min-width: 0px) and (max-width: 320px) {
  .section-blog{
    display:none !important;
  }
}

@media only screen and (min-width: 0px) and (max-width: 510px) {
  .cart{
    margin: 50px 30px;
  }
  .logo-header {
    display: none;
  }
  .blog{
    width: 100% !important;
    height:66vh !important;

    p{
      padding:0px !important;
    }
  }
  .container-imgPet{
    display:none;
  }

  #carouselExampleControls, .img-svg{
    display:none;
  }

  .contac-home{
    min-height:20vh !important;

  }
  .carrusel-Bt{
    height:0 !important;
  }

  .favoritePet{
    display:none !important;
  }

  .cards-services{
    display:none !important;
  }
}

@media only screen and (min-width: 511px) and (max-width: 600px) {
  .cart{
    margin: 50px 30px;
  }
  .logo-header {
    display: none;
  }
  .blog{
    width: 100% !important;
    height:66vh !important;

    p{
      padding:0px !important;
    }
  }
  .container-imgPet{
    display:none;
  }

  #carouselExampleControls, .img-svg{
    display:none;
  }

  .contac-home{
    min-height:20vh !important;

  }
  .carrusel-Bt{
    height:0 !important;
  }

  .favoritePet{
    display:none !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 855px) {
  .cart{
    margin: 50px 30px;
  }
  .logo-header {
    display: none;
  }
  .blog{
    width: 100% !important;
  }
  .container-imgPet{
    display:none;
  }

  #carouselExampleControls, .img-svg{
    display:none;
  }

  .contac-home{
    min-height:20vh !important;
  }
  .carrusel-Bt{
    height:0 !important;
  }
}

@media only screen and (min-width: 856px) and (max-width: 940px) {
  .blog{
    width: 100% !important;
  }
  .cart{
    margin: 50px 30px;
  }

  .contac-home{
    min-height:20vh !important;
  }
  .carrusel-Bt{
    height:0 !important;
  }

  .container-imgPet, .img-svg{
    display:none;
  }

  #carouselExampleControls{
    display:none;
  }
}

@media only screen and (min-width: 941px) and (max-width: 1032px) {
  .cart{
    margin: 30px;
  }

  .blog{
    width: 100% !important;
  }

  .container-imgPet{
    margin-top: 20px;
  }
}

.btn-google{
  background-color: rgb(255, 255, 255);
  color:$color-text;
  margin: 10px 0;
  width:200px;
  border:none;
  border-radius:25px;
  padding:10px;
  -webkit-box-shadow:0px 10px 40px -10px rgba(0,0,0,0.7);
  -moz-box-shadow:0px 10px 40px -10px rgba(0,0,0,0.7);
  box-shadow:0px 10px 40px -10px rgba(0,0,0,0.7);

  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99999999999;

  &:hover{
    cursor: pointer;
  }

  &:focus{
    outline: none;
  }
}

