<section class="header_home">
  <img src="https://wallpapercave.com/wp/wp2446973.jpg" alt="Pets" class="img-header"/>
  <img src="../../assets/media/logo1.svg" alt="logo" class="logo-header">
</section>

<section class="description">
  <h1>Pets Care</h1>
  <p>We are pioneers in the care and handling of pets, we have excellent facilities where your furry friends will be welcome and will be in the best hands. </p>
  <button>Go to services</button>
</section>

<section class="cards-services">
  <div class="cart">

    <div class="imgBx">
      <img src="../../assets/media/daycare2.png" alt="Pets logo">
    </div>

    <div class="content">

      <div class="details">
        <h2>Pet DayCare<br><span>Service premium</span></h2>
        <div class="data">
          <h3>Reserve a fantastic day for your pet friend with our partners in our nursery.</h3>
        </div>

        <div class="actionsBtn">
          <button>See more</button>
        </div>
      </div>
    </div>
  </div>

  <div class="cart">

    <div class="imgBx">
      <img src="../../assets/media/dogwalking2.png" alt="Pets logo">
    </div>

    <div class="content">

      <div class="details">
        <h2>Pet Walker<br><span>Service premium</span></h2>
        <div class="data">
          <h3>Book a pleasant walk with reliable partners and with the best service of all.</h3>
        </div>

        <div class="actionsBtn">
          <button>See more</button>
        </div>
      </div>
    </div>
  </div>

  <div class="cart">

    <div class="imgBx">
      <img src="../../assets/media/sleepover2.png" alt="Pets logo">
    </div>

    <div class="content">

      <div class="details">
        <h2>Pet Grooming<br><span>Service premium</span></h2>
        <div class="data">
          <h3>Keep a nice space for your furry friend with the best hands for its care.</h3>
        </div>

        <div class="actionsBtn">
          <button>See more</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container my-4">
    <hr class="mt-5">
    <hr class="mb-5" />
    <h2 class="tittle-grid">Pet care friend´s</h2>
    <!--Grid row -->
    <div class="row">

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://wallpapers.com/images/high/corgi-puppy-in-orange-2nh8436o0k3go3sm.jpg"
             class="img-fluid mb-4" alt="pets" data-wow-delay="0.1s">

        <img src="https://images.unsplash.com/photo-1561037404-61cd46aa615b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="img-fluid mb-4" alt="pets" data-wow-delay="0.4s">

      </div>
      <!--Grid column  -->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=843&q=80" class="img-fluid mb-4" alt="pets" data-wow-delay="0.2s">

        <img src="https://wallpapers.com/images/high/pet-dog-with-plush-toy-mcy7ys1ze1t6kikb.jpg" class="img-fluid mb-4" alt="pets" data-wow-delay="0.5s">

      </div>

      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://wallpapers.com/images/high/white-fluffy-pet-cat-reylf05tj1l63nx6.jpg" class="img-fluid mb-4" alt="pets" data-wow-delay="0.2s">

        <img src="https://wallpapers.com/images/high/rabbit-smelling-a-toy-lro48grzdbaxcys1.jpg" class="img-fluid mb-4" alt="pets" data-wow-delay="0.5s">

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <hr class="mt-5">
  <hr class="mb-5" />
</section>








