@import "src/app/styles/variables";

/* header */

.header_home{
  weight:100%;
  height:50vh;
  display:flex;
  border-radius:$borderR;
  background-attachment: fixed;
  background-color:pink;
  position: relative;


  .img-header{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius:$borderR;
    filter: brightness(0.8);
  }

  .logo-header{
    position: absolute;
    width: 180px;
    height: 180px;
    align-self: center;
    z-index:1;
  }
}








@media only screen and (min-width: 0px) and (max-width: 842px) {
  .logo-header{
    display:none;
  }
}
