<section class="header_home">
  <img src="https://wallpapercave.com/wp/wp2446973.jpg" alt="Pets" class="img-header"/>
  <img src="../../assets/media/logo1.svg" alt="" class="logo-header">
</section>


<h1>Home </h1>
<div class="card">
  <div class="card-head"> HOME CHAVAL HOME </div>
  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, laudantium velit labore accusamus modi dolore, numquam aperiam eveniet facilis, maiores alias possimus molestias impedit tempore inventore tenetur libero odit enim?
  </div>
</div>
<img src="../../assets/media/logo.svg" alt="">
<img src="../../assets/media/logo1.svg" alt="">
<img src="../../assets/media/logo.svg" alt="">



<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, laudantium velit labore accusamus modi dolore, numquam aperiam eveniet facilis, maiores alias possimus molestias impedit tempore inventore tenetur libero odit enimsaaaaaaaaaa?</h1>



