<section class="header_home">
  <img src="https://wallpapercave.com/wp/wp2446973.jpg" alt="Pets" class="img-header"/>
  <img src="../../assets/media/logo1.svg" alt="logo" class="logo-header">
</section>

<section class="description">
  <h1>Pets Care</h1>
  <p>We are pioneers in the care and handling of pets, we have excellent facilities where your furry friends will be welcome and will be in the best hands. </p>
  <button>Go to services</button>
</section>

<section class="cards-services">
  <div class="cart">

    <div class="imgBx">
      <img src="../../assets/media/daycare2.png" alt="Pets logo">
    </div>

    <div class="content">

      <div class="details">
        <h2>Pet DayCare<br><span>Service premium</span></h2>
        <div class="data">
          <h3>Reserve a fantastic day for your pet friend with our partners in our nursery.</h3>
        </div>

        <div class="actionsBtn">
          <button>See more</button>
        </div>
      </div>
    </div>
  </div>

  <div class="cart">

    <div class="imgBx">
      <img src="../../assets/media/dogwalking2.png" alt="Pets logo">
    </div>

    <div class="content">

      <div class="details">
        <h2>Pet Walker<br><span>Service premium</span></h2>
        <div class="data">
          <h3>Book a pleasant walk with reliable partners and with the best service of all.</h3>
        </div>

        <div class="actionsBtn">
          <button>See more</button>
        </div>
      </div>
    </div>
  </div>

  <div class="cart">

    <div class="imgBx">
      <img src="../../assets/media/sleepover2.png" alt="Pets logo">
    </div>

    <div class="content">

      <div class="details">
        <h2>Pet Grooming<br><span>Service premium</span></h2>
        <div class="data">
          <h3>Keep a nice space for your furry friend with the best hands for its care.</h3>
        </div>

        <div class="actionsBtn">
          <button>See more</button>
        </div>
      </div>
    </div>
  </div>
</section>








