<section class="header_home">
  <img
    src="https://images.unsplash.com/photo-1612774412771-005ed8e861d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
    alt="Pets" class="img-header"/>
  <h1>Pet Care becomes your furry friend's home</h1>

</section>
<hr class="mt-5">
<hr class="mb-5"/>

<section class="description-hero">
  <p>In Pet Care our big bet is that your furry friends are in the best friendly hands, so through our PETWALKER
    service they can count on a charismatic person, dedicated to their service and with a big heart, because the bet
    from our home is that our pets are part of it.
    <br>
    <br>
    PETWALKER is the Pet Care service par excellence, because we have the best collaborators to offer walking and
    travel plans no matter where you are.
    <br>
    <br>
    In PETWALKER you will find:</p>
</section>

<hr class="mt-5">
<hr class="mb-5"/>

<section class="maincontainer">

  <div class="thecard">

    <div class="thefront">
      <p>It is very important that during the week they do physical activities, as in humans. Walks help to maintain
        weight,
        improve circulation, muscle tone and reduce stress.</p>
      <img src="./assets/media/logo.svg" alt="logo" class="logo-services">
    </div>


    <div class="theback">
      <img src="./assets/media/imgCat.svg" alt="Pet" class="img-cards">
    </div>
  </div>

  <div class="thecard">

    <div class="thefront">
      <p>Pets are sociable animals that need to socialize. Otherwise,
        they can acquire phobias or problems with their environment.</p>
      <img src="./assets/media/logo.svg" alt="logo" class="logo-services">
    </div>


    <div class="theback">
      <img src="./assets/media/imWalker.svg" alt="Pet" class="img-cards">
    </div>
  </div>

  <div class="thecard">

    <div class="thefront">
      <p>Pets have a different relationship with their environment than humans and,
        therefore, it is necessary for them to be physically active outdoors.</p>
      <img src="./assets/media/logo.svg" alt="logo" class="logo-services">
    </div>


    <div class="theback">
      <img src="./assets/media/imgDog.svg" alt="Pet" class="img-cards">
    </div>
  </div>

</section>

<hr class="mt-5">
<hr class="mb-5"/>




