:root {
  --color-background: #f1f3f5;
  --color-prymary   : #1BC3EA;
  --color-secundary : #5dea1b;
  --color-h1        : #000;
  --color-h2        : rgb(26, 25, 25);
  --color-text      : rgb(34, 38, 42);
  --h1Custom        : 3.1rem;
  --h2Custom        : 1.8rem;
  --h3Custom        : 1.3rem;
  --h4Custom        : 0.8rem;
  --pCustom         : 1.2rem;
}
