<div class="contact">

  <shape-divider></shape-divider>
  <h1 class="display-1 fw-bold">Contact</h1>

  <div class="be-in-touch card w-100 shadow p-3 mb-5 bg-body rounded">
    <img src="./assets/media/cat-contact.jpg" class="card-img-top"  alt="contact img">
    <div class="card-body">
      <h1 class="card-title">Be in touch</h1>
      <p class="card-text">If you have any complain, please let us know. Email: <mark>petscare@pets.com</mark></p>
    </div>
  </div>

  <div class="card w-100 shadow p-3 mb-5 bg-body rounded">
    <div class="mx-auto text-center">
      <h2 class="display-3">Send a comment</h2>
    </div>
    <div class="form-content mx-auto w-50">
      <form action="" (ngSubmit)="createComment(commentForm.value)" #commentForm="ngForm">
        <div class="mb-3">
          <h5 class="">Rate us</h5>
          <div class="row mx-auto mb-3">
            <div class="col form-check">
              <input ngModel value="1" class="form-check-input" type="radio" name="star" id="star1">
              <label class="form-check-label" for="star1">1</label>
            </div>
            <div class="col form-check">
              <input ngModel value="2" class="form-check-input" type="radio" name="star" id="star2">
              <label class="form-check-label" for="star2">2</label>
            </div>
            <div class="col form-check">
              <input ngModel value="3" class="form-check-input" type="radio" name="star" id="star3">
              <label class="form-check-label" for="star3">3</label>
            </div>
            <div class="col form-check">
              <input ngModel value="4" class="form-check-input" type="radio" name="star" id="star4">
              <label class="form-check-label" for="star4">4</label>
            </div>
            <div class="col form-check">
              <input ngModel value="5" class="form-check-input" type="radio" name="star" id="star5" checked>
              <label class="form-check-label" for="star5">5</label>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="comment" class="form-label">Write a comment</label>
          <textarea
            class="form-control"
            id="comment"
            name="comment"
            ngModel
            minlength="4"
            required
            rows="3"
            placeholder="Let us know your comment..."></textarea>
        </div>
        <div class="mx-auto text-center w-50">
          <button class="btn btn-primary w-100 p-2" [disabled]="commentForm.invalid" type="submit">Send</button>
        </div>
      </form>
    </div>
  </div>

</div>
