<div class="profile-container">

  <shape-divider></shape-divider>
  <h1 class="display-1 fw-bold">My profile</h1>

  <div>

    <div class="mx-auto d-block m-0 text-center col">
      <div class="img-container">
        <img [src]="user.profile_picture"
             class="img-fluid row rounded mx-auto d-block shadow p-3 mb-3 bg-body rounded"
             alt="profile picture">
      </div>
      <h4 class="row mx-auto d-block text-center">Welcome:</h4>
      <div class="user-name">
        <h1 class="profile-name mx-auto d-block text-center row display-5 fw-bold">
          {{user.name}}
          <a routerLink="/home/editProfile"><i class="fa-solid fa-user-pen"></i></a>
        </h1>
      </div>
    </div>

    <div class="container col">
      <div class="card p-3 shadow mb-3 bg-body rounded">
        <div class="card-body">
          <ul class="list-group list-group-flush fs-5">
            <li class="list-group-item"><strong>Email:</strong> {{user.email}}</li>
            <li class="list-group-item"><strong>Phone:</strong> {{user.phone}}</li>
          </ul>

          <hr>

          <h1 class="display-5 fw-bold">Pets</h1>

          <div class="card">
            <ul class="pets-container list-group fs-4">
              <li class="list-group-item" *ngFor="let pet of user.pets">
                <i class="fa-solid fa-dog"></i>
                <p>{{pet.name}}</p>
                <p>{{pet.age}} year</p>
                <p>{{pet.size}}</p>
                <button (click)="deletePet(pet.id)" type="button" class="btn-close" aria-label="Close"></button>
              </li>
              <li (click)="addPet()" class="add-pet list-group-item active text-center">
                <p class=" mx-auto d-block text-center">Add pet</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card mx-auto d-block card p-3 shadow bg-body rounded orders-container">

      <div class="mx-auto d-block p-3 card-body container">

        <h1 class="display-4 fw-bold">Orders</h1>

        <ul class="list-group list-group-numbered">

          <li *ngFor="let order of user.orders" class="list-group-item align-items-start">

            <div class="d-flex justify-content-between mx-auto d-block">

              <div class="fw-bold">Id: {{order.id}}</div>

              <div class="row orders-list">
                <div class="col">
                  <h4 class="fw-bold">Date: </h4>
                  <p>{{order.date}}</p>
                </div>
                <div class="col">
                  <h4 class="fw-bold">Starts at: </h4>
                  <p>{{order.starts_at}}</p>
                </div>
                <div class="col">
                  <h4 class="fw-bold">Finish at: </h4>
                  <p>{{order.finish_at}}</p>
                </div>
                <div class="col">
                  <h4 class="fw-bold">Services: </h4>
                  <div *ngFor="let service of order.services">
                    <p>{{service}}</p>
                  </div>
                </div>
                <div class="col">
                  <h4><strong>Total:</strong> {{order.price}}</h4>
                </div>
              </div>

            </div>

          </li>

        </ul>

      </div>

    </div>

  </div>

</div>

<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>





