@import "src/app/styles/variables";

.logout {
}

.profile-container {

  @media ( max-width: 550px ) {
    .card-body {
      padding: 0;
    }

    .container {
      padding: 0;
    }

    .list-group-item {
      font-size: 16px;
      margin: 0;
      padding: 5px;
    }

  }

  .display-1 {
    color: $color-white;
  }

  .img-container {

     & img {
       width: 200px;
       height: 200px;
       border: 0.5px solid gray;
       border-radius: 50px !important;
     }
  }

  .pets-container {

    & p {
      margin: 0;
    }

    & li {
      display: grid;
      grid-template-columns: 19% 19% 19% 19% 19% 5%;
    }

    & li:last-child {
      grid: unset;
    }

    .add-pet {
      border-color: darken($color-primary, 20%);
      background-color: darken($color-primary, 5%);
      cursor: pointer;

      &:hover {
        background-color: lighten($color-primary, 0.5%);
      }

      &:active {
        background-color: darken($color-primary, 5%)
      }
    }

  }
  .orders-list {
    width: 100%;
  }

  .orders-container {
    min-height: 400px !important;

    @media ( max-width: 550px ) {
      div .col {
        padding: 0 !important;
      }

      .orders-list {
        font-size: 16px;
        margin: 0;
        padding: 5px;

        & h4 {
          font-size: 17px;
          margin: 0;
        }

        & p {
          margin: 0;
        }
      }
    }

  }

}

.profile-name {

  & a {
    font-size: 20px;
  }
}

@media ( max-width: 550px ) {
  .orders-container {
    padding: 0 !important;
  }

  .pets-container-pre > div {
    padding: 0 !important;
  }

  .pets-list {
    margin-bottom: 0 !important;
  }

  .list-group-flush {
    margin: 10px 15px;
  }

  .display-5 {
    margin: 0 10px 5px 10px !important;
  }
}

