<div class="profile-container">

  <shape-divider></shape-divider>
  <h1 class="display-1 fw-bold">My profile</h1>

  <div>

    <div class="mx-auto d-block m-0 text-center col">
      <div class="img-container">
        <img [src]="(user$ | async)?.profile_picture"
             class="img-fluid row rounded mx-auto d-block shadow p-3 mb-3 bg-body rounded"
             alt="profile picture">
      </div>
      <h4 class="row mx-auto d-block text-center">Welcome:</h4>
      <div class="user-name">
        <h1 class="profile-name mx-auto d-block text-center row display-5 fw-bold">
          {{(user$ | async)?.name | titlecase}}
          <a routerLink="/home/editProfile"><i class="fa-solid fa-user-pen"></i></a>
        </h1>
      </div>
    </div>

    <div class="pets-container-pre container col">
      <div class="card p-3 shadow mb-3 bg-body rounded">
        <div class="card-body">
          <ul class="list-group list-group-flush fs-5">
            <li class="list-group-item"><strong>Email:</strong> {{(user$ | async)?.email}}</li>
            <li class="list-group-item"><strong>Phone:</strong> {{(user$ | async)?.phone}}</li>
            <li *ngFor="let address of (user$ | async)?.addresses" class="list-group-item">
              <strong>Dirección:</strong>
              {{address.city}} {{address.address}} {{address.remark}}</li>
            <a routerLink="/addAddress"
               type="button"
               class="h6 ml-5 link-success">Agregar dirección</a>
          </ul>


          <hr>

          <h1 class="display-5 fw-bold">Pets</h1>

          <div class="pets-list card">
            <ul class="pets-container list-group fs-4">
              <li class="list-group-item" *ngFor="let pet of (user$ | async)?.pets">
                <i class="fa-solid fa-dog"></i>
                <p>{{pet.name}}</p>
                <p>{{pet.age}} años</p>
                <p>{{pet.size}}</p>
                <p>{{pet.weight}} Kg</p>
                <button (click)="deletePet(pet.id)" type="button" class="btn-close" aria-label="Close"></button>
              </li>
              <li routerLink="/addPet" class="add-pet list-group-item active text-center">
                <p class=" mx-auto d-block text-center">Add pet</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card mx-auto d-block card p-3 shadow bg-body rounded orders-container">

      <div class="mx-auto d-block p-3 card-body">

        <h1 class="display-4 fw-bold">Orders</h1>

        <ul class="list-group list-group-numbered">

          <li *ngFor="let order of (user$ | async)?.orders" class="list-group-item align-items-start">

            <div class="d-flex justify-content-between mx-auto d-block">

              <div class="fw-bold">Id: {{order.id}}</div>

              <div class="row orders-list">
                <div class="col">
                  <h4 class="fw-bold">Date: </h4>
                  <p>{{order.created_at | date:'medium'}}</p>
                </div>
                <div class="col">
                  <h4>
                    <strong>Total:</strong> {{order.total_price | currency:'COP':'symbol':'3.0'}}
                  </h4>
                </div>
              </div>

            </div>

          </li>

        </ul>

      </div>

    </div>

  </div>

  <button class=" mx-auto logout btn btn-danger" (click)="logout()" type="button">Salir</button>

</div>





